$xs-screen-size: 576px;
$md-screen-size: 768px;
$lg-screen-size: 992px;
$xl-screen-size: 1200px;
$banner-h1-font-color: #4a8602;
$banner-font-color: #0c1802;
$banner-btn-bg-color: #ffffff;
$banner-h1-font: 'Lemonada', cursive;
$banner-text-font: 'Amiri', serif;
$banner-btn-font: 'Poppins', sans-serif;
$category-header-font-color: #59b75c;
$product-input-number-color: #2a2a2a;
$footer-bg-color: #2a2a2a;
$footer-font-color: #9a9a9a;
$footer-icons-bg-color: #7e7e7e;
$footer-icons-font-color: #ffffff;
$logo-color: #0ABD48FF;
$checkout-header-font-color: #2a2a2a;
$checkout-con-border-color: #7e7e7e;