@import "variables";

.banner-img {
  width: 100vw;
  height: auto;
}

.banner-text {
  position: absolute;
  right: 10%;
  top: 40%;

  .leaf {
    width: 100px;
  }

  h4 {
    font-family: $banner-text-font;
    font-weight: 500;
    color: $banner-font-color;
  }

  h1 {
    font-family: $banner-h1-font;
    color: $banner-h1-font-color;
  }

  Button {
    background-color: $banner-btn-bg-color;
    color: $banner-font-color;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: none;
  }
}

@media (max-width: $md-screen-size) {
  .banner-text {
    position: absolute;
    top: 17%;
    left: 50%;

    .leaf {
      width: 70px;
    }
  }
}

@media (max-width: $xs-screen-size) {
  .banner-text {
    position: relative;
    left: 45%;
    top: -130px;

    .leaf {
      display: none;
    }

    h4 {
      font-size: 16px;
    }

    h1 {
      font-size: 19px;
    }

    Button {
      font-size: small;
    }
  }
  .banner {
    height: 25vh;
  }
}