$banner-h1-font-color: #4a8602;
$banner-font-color: #0c1802;
$banner-btn-bg-color: #ffffff;
$banner-h1-font: 'Lemonada', cursive;
$banner-text-font: 'Amiri', serif;
$banner-btn-font: 'Poppins', sans-serif;
$xs-screen-size: 576px;
$md-screen-size: 768px;
$lg-screen-size: 992px;
$xl-screen-size: 1200px;


